body {
  background-color: #121212;
  color: white;
  font-family: 'Open Sans';
}

p {
  margin: 0px;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #181818;
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  background-color: #252525;
}

.group {
  position: relative;
}
.card-image {
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 16px;
  height: 200px;
  width: 200px;
}

.card-title {
  line-height: 26px;
  padding-bottom: 5px;
}

.card-artist {
  color: #b3b3b3;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1ed760;
  border: none;
  position: absolute;
  bottom: 0px;
  right: 10px;
  opacity: 0;
  transition: all 0.3s;
}

.card:hover .play-button {
  bottom: 30px;
  opacity: 1;
}

.play-button:hover {
  transform: scale(1.1);
}
